@media screen and (min-width: 320px) {
  .button-1 {
    width: 280px;
  }
  .button-2 {
    width: 280px;
  }
}
@media screen and (min-width: 748px) {
  .tablet-header {
    width: 100%;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 140px;
  }
  .menu-items {
    padding: 0;
    margin: 0;
    /* padding-left: 4px; */
  }
  .tablet-logo {
    margin: 0;
    /* padding-right: 2px; */
  }

  /* ---- */

  .upper-article {
    font-size: 52px;
    /* margin: 0 auto; */
    line-height: 63px;
    margin-bottom: 30px;
  }

  .intro-descr {
    font-size: 24px;
    margin-bottom: 36px;
  }

  .intro {
    padding-bottom: 234px;
  }

  /* --- */

  .small-article {
    padding-bottom: 37px;
  }

  .lucas {
    order: 3;
  }
  .heather {
    order: 2;
  }
  .bethany {
    order: 4;
  }

  .tablet-txt {
    width: 220px;
  }

  .person-list:nth-child(1) {
    margin-bottom: 60px;
  }
  .person-list:nth-child(3) {
    margin-bottom: 60px;
  }

  .button-2 {
    width: 193px;
  }
  /* TRY IT! */
  /* .person-1 {
    padding-left: 40px;
  }
  .person-2 {
    padding-left: 40px;
  }
  .person-3 {
    padding-right: 40px;
  }
  .person-4 {
    padding-right: 40px;
  } */

  .left-btns {
    order: 2;
  }
  .right-logo {
    order: 1;
  }
}

@media screen and (min-width: 940px) {
  .main-content {
    padding-bottom: 73px;
  }

  .menu-items {
    padding-left: 30px;
  }
  .tablet-logo {
    /* padding-right: 105px; */
  }

  .person-1 {
    padding-left: 0px;
  }
  .person-2 {
    padding-left: 0px;
  }
  .person-3 {
    padding-right: 0px;
  }
  .person-4 {
    padding-right: 0px;
  }

  .tablet-txt {
    width: 100%;
  }
}