@media screen and (min-width: 748px) {
  /* ....screen and... - is not necessary, @media works pretty good without it */
  .tablet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 668px; - here take %, not px, cause it is responsive and it looks and works better*/
    width: 89.3%;
    /* OR */
    /* width: 748px; */
    /* and don't forget about margin-right: 40px; and margin-left: 40px; below */
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 140px;
  }
  .menu-items {
    padding: 0;
    margin: 0;

    order: 1;
    /* margin-right: 40px; */
  }
  .tablet-logo {
    margin: 0;
    /* margin-left: 40px; */
  }

  /* ---- */

  .upper-article {
    /* width: 532px; - here take %, not px, cause it is responsive and it looks and works better..but, we see how the size changes*/
    width: 532px;
    /* width: 71.1%; */
    font-size: 52px;
    margin: 0 auto;
    line-height: 63px;
    margin-bottom: 30px;
  }

  .intro-descr {
    font-size: 24px;
    margin-bottom: 36px;
  }

  .intro {
    padding-bottom: 234px;
  }

  /* --- */

  .small-article {
    padding-bottom: 37px;
  }

  .all-team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 492px;
    margin: 0 auto;
    /* OR we can use justify-content: center; then uncomment .person-list: flex-basis: 46% and use it +-, after that change width: 492px+ */
  }
  .second {
    order: 3;
  }
  .fourth {
    order: 4;
  }

  /* .person-list {
        flex-basis: 46%;
    } */

  p {
    width: 215px;
  }

  .person-list:nth-child(1) {
    margin-bottom: 60px;
  }
  .person-list:nth-child(3) {
    margin-bottom: 60px;
  }

  .button-2 {
    width: 193px;
  }
}

@media screen and (min-width: 940px) {
  /* ....screen and... - is not necessary, @media works pretty good without it */
  .tablet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
  }

  .upper-article {
    /* width: 54%; */
    width: 620px;
  }

  .all-team {
    display: flex;
    justify-content: space-between;
    /* OR we can try justify-content: center; and play with it */
    /* flex-wrap: wrap; */
    width: 940px;
    /* margin: 0 auto; */
  }

  .main-content {
    padding-bottom: 73px;
  }

  /* ALL ROWS BELOW ARE NOT NECESSARY, JUST FOR A NICE GRID IN THE LAST FLEX CONTAINER */
  .person-list:nth-child(1) {
    margin-bottom: 0;
  }
  .person-list:nth-child(2) {
    margin-bottom: 0;
  }
  .person-list:nth-child(3) {
    margin-bottom: 0;
  }
  .person-list:nth-child(4) {
    margin-bottom: 0;
  }
  .all-team {
    margin-bottom: 40px;
  }
}
