@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block-element {
  max-width: 900px;
  margin: 0 auto;
}

.inline-element {
  display: inline-block;
  margin: 77px 79px 104px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

a:hover {
  color: #03a9f4;
}

a {
  color: #626262;
  text-decoration: none;
}

.wrapper {
  font-family: "Playfair Display", serif;
  color: #626262;
  max-width: 900px;
  margin: 0 auto;
}

.col {
  display: inline-block;
  width: 425px;
  margin-top: 0;
  margin-bottom: 140px;
  margin-right: 45px;
  background-color: #fff;
}

.col:nth-child(even) {
  margin-right: 0;
}

.col:nth-child(5) {
  margin-bottom: 0;
}
.col:nth-child(6) {
  margin-bottom: 0;
}

.font {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #b4ad9e;
  padding: 30px 0px;
  line-height: normal;
}

h2 {
  font-size: 30px;
  padding-bottom: 30px;
  text-align: left;
}

.text {
  text-transform: none;
  text-align: justify;
  padding: 10px 0px;
  line-height: 24px;
}

button {
  display: inline-block;
  width: 164px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #626262;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 20px;
  margin: 0px 368px;
  margin-top: 58px;
  margin-bottom: 71px;
}
