@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap");

.navmenu ul {
  text-align: center;
}

.navmenu li {
  display: inline-block;
  margin: 75px 80px 105px 0px;
  font-size: 14px;
  text-transform: uppercase;
}

.navmenu li:last-child {
  margin-right: 0;
}

.navmenu li a:hover {
  color: #03a9f4;
}

.navmenu li a {
  color: #626262;
  text-decoration: none;
}

.wrapper {
  font-family: "Playfair Display", serif;
  color: #626262;
  max-width: 900px;
  margin: 0 auto;
}

.content-wrap {
  font-size: 0;
}

.content {
  display: inline-block;
  width: 420px;
  margin-bottom: 135px;
  margin-right: 60px;
}

.content:nth-child(even) {
  margin-right: 0;
}

.content:nth-child(5) {
  margin-bottom: 0;
}
.content:nth-child(6) {
  margin-bottom: 0;
}

.content img {
  display: block;
  width: 100%;
  height: auto;
}

.topic {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #b4ad9e;
  padding: 30px 0px;
  line-height: normal;
}

.content h2 {
  font-size: 30px;
  padding-bottom: 35px;
  /* text-align: left; */
}

.description {
  text-transform: none;
  text-align: justify;
  padding: 10px 0px;
  font-size: 14px;
  line-height: 24px;
}

.btn-loadmore {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  width: 165px;
  height: 60px;
  /*OR padding: 20px 35px; */
  background-color: #fff;
  border: 1px solid #626262;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 20px;
  /* margin: 0px 368px; */
  margin-top: 60px;
  margin-bottom: 70px;
}
