@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,900&display=swap");

.page {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  float: left;
  text-transform: uppercase;
  font-size: 30px;
  text-height: 32px;
  letter-spacing: -1px;
  font-family: "Roboto", sans-serif;
  margin: 35px 0px 98px 0px;
}

h1::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #515151;
}

.menu {
  float: right;
  width: 1029px;
}

.navbar {
  float: right;
  /* list-style-type: none; */
  /* The unactive item above isn't necessary because we use URL in li, not words, we won't see black dots */
  text-transform: uppercase;
  font-size: 14px;
  line-height: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 43px 36px 109px 0px;
}

.navbar:first-child {
  margin-right: 0;
}

.navbar a:hover {
  color: #1abc9c;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.main-headline h2 {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  /* text-align must have */
}

.aftereffectline::after {
  content: "";
  border-bottom: 7px solid #1abc9c;
  display: block;
  width: 164px;
  height: 33px;
  margin: 0 auto;
  margin-bottom: 99px;
}

/* ---content--- */

.pdblock {
  float: left;
  width: 255px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.pdblock:nth-child(5) {
  margin-right: 0;
}
.pdblock:last-child {
  margin-right: 0;
}

img {
  display: block;
  background: #e9f0fd;
}

.pdname-price {
  background: #323232;
}

.pdname-price h3 {
  float: left;
  width: 187px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  padding: 5px 0px 3px 14px;
}

.pdname-price p {
  float: right;
  width: 42px;
  background: rgba(255, 255, 255, 0.44);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  padding: 5px 0px 3px 12px;
}

/* OR */
/* .pdname-price {
  width: 255px;
  background: #323232;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
}
h3 {
  float: left;
  width: 201px;
}
p {
  display: inline-block;
  width: 54px;
} */

.pdblock:hover .pdname-price {
  background: #1abc9c;
}

/* ----- */

.news-headline h2 {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 75px;
  /* text-align must have */
}

.aftereffectline2nd::after {
  content: "";
  border-bottom: 7px solid #1abc9c;
  display: block;
  width: 164px;
  height: 33px;
  margin: 0 auto;
  margin-bottom: 88px;
}

.newscards {
  float: left;
  width: 347px;
  margin-right: 34px;
  font-family: "Open Sans", sans-serif;
}

.newscards:last-child {
  margin-right: 0;
}

.newscards h3 {
  font-size: 18px;
  line-height: 26px;
  color: #555252;
  font-weight: 600;
  margin-top: 10px;
}

.newscards p {
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  font-weight: 400;
  margin-bottom: 13px;
}

.aftereffectline3rd::after {
  content: "";
  border-bottom: 3px solid #4ec6ab;
  display: block;
  width: 136px;
  height: 10px;
  margin-bottom: 25px;
  text-align: left;
}

/* button {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.39);
  background: #4ec6ab;
  width: 160px;
  height: 52px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 5px;
} */

.button {
  float: left;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  background: #4ec6ab;
  width: 160px;
  height: 52px;
  /* cursor: pointer; */
  border: none;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 45px;
}
